<!DOCTYPE html>
<html>
    <head>
        <title>Admin</title>
        <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link rel="stylesheet" href="admin.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    </head>
    <body>
        
        <div class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="/admin/user"><i class="fa-solid fa-user"></i>Users</a></li>
                <li><a href="/admin/feedbackData"><i class="fa-solid fa-comment"></i>Feedback</a></li>
            </ul>
        </div>
        <div class="main-content">
        <h1>Dashboard</h1>
        
        <div class="Feedback-Summary">
            <h2>Feedback Summary</h2>
            <div class="reviewTypes">
                <div class="total">
                    <p style="text-align: center; margin: 0 auto;margin-top: 40px; font-size: 2.1rem;"><b><%= data.Positive + data.Negative + data.Neutral %></b></p>
                    <p style="text-align: center; font-size:1.3rem;"><b>Total Feedback</b></p>
                </div>
                <div class="positive">
                    <p style="text-align: center; margin: 0 auto; margin-top: 40px; font-size: 2.1rem;"><b><%= data.Positive %></b></p>
                    <p style="text-align: center; font-size:1.3rem;"><b>Positive</b></p>

                </div>
                <div class="neutral">
                    <p style="text-align: center; margin: 0 auto; margin-top: 40px; font-size: 2.1rem;"><b><%= data.Neutral %></b></p>
                    <p style="text-align: center; font-size:1.3rem;"><b>Neutral</b></p>
                </div>
                <div class="negative">
                    <p style="text-align: center; margin: 0 auto; margin-top: 40px; font-size: 2.1rem;"><b><%= data.Negative %></b></p>
                    <p style="text-align: center; font-size:1.3rem;"><b>Negative</b></p>
                </div>
            </div>
        </div>
        <div class="Feedback-Category">

        </div>

        <div class="overall-sentiment">
             <h2>Overall Sentiment</h2>
             <canvas id="sentimentChart" width="400px" height="400px"></canvas>
        </div>
        <div class="category-sentiment">
            <h2>Feedback by Category</h2>
            <canvas id="categoryChart" width="500" height="380px"></canvas>
        </div>
   </div>       

    <script>

        const labels = <%- JSON.stringify(labels || []) %>;
        const counts = <%- JSON.stringify(counts || []) %>;


        const sentimentColors = {
        positive : '#4CAF50', // Green
        neutral: '#FFC107',  // Yellow
        negative: '#F44336' //  Red
        }


        const backgroundColors = labels.map(label => sentimentColors[label.toLowerCase()] || '#9E9E9E');

        const ctx = document.getElementById('sentimentChart').getContext('2d');
        new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
            label: 'Feedback Sentiments',
            data: counts,
            backgroundColor: backgroundColors,
            borderColor: '#fff',
            borderWidth: 2
            }]
        },
        options: {
            responsive: false,
            plugins: {
            legend: { position: 'bottom' },
            title: {
                display: true,
                text: 'Sentiment Distribution of Feedback',
                font:{size:18, weight:'bold'}
            },
            datalabels:{
                color:'#fff',
                font:{size:16,weight:'bold'},
                formatter:(value, context)=>{
                    const dataset = context.chart.data.datasets[0].data;
                    const total = dataset.reduce((sum, val)=> sum + val,0);
                    const percentage = ((value / total)*100).toFixed(1) +'%';
                    return percentage;
                }
            }
            }
        },
        plugins:[ChartDataLabels]
    });
    const categories = <%- JSON.stringify(categories) %>;
    const chartData = <%- JSON.stringify(chartData) %>;

    const ctx1 = document.getElementById('categoryChart').getContext('2d');
    new Chart(ctx1, {
      type: 'bar',
      data: {
        labels: categories,
        datasets: chartData.map(item => ({
          label: item.label,
          data: item.data,
          backgroundColor:
            item.label === "Positive" ? "rgba(76, 175, 80)" :
            item.label === "Negative" ? "rgba(244, 67, 54)" :
            "rgba(255, 193, 7)",
            categoryPercentage : 0.6,
            barPercentage : 1.5
        }))
      },
      options: {
        responsive: false,
        scales: {
          y: {
            beginAtZero: true,
            title: { display: true, text: 'Count', color: 'black',font: { size: 14, weight: 'bold'} }
          },
          x: {
            title: { display: true, text: 'Category Name', color: 'black',font: { size: 14, weight: 'bold' } },
            
             ticks: {
          autoSkip: false,  
          maxRotation: 45,  
          minRotation: 45,
          font: { size: 12 }
        }
          }
        }
      }
    });

    </script>
   </body>
</html>