<!DOCTYPE html>
<html>
  <head>
    <title>Edit User Details</title>
    <link rel="stylesheet" href="/edit.css">
    <style>
      .error {
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="edit">
      <h2>Editing User Details: <%= user.userName %></h2>

      <% if (typeof error !== "undefined" && error) { %>
        <div class="error"><%= error %></div>
      <% } %>

      <form method="post" action="/admin/user/<%= user.id %>?_method=PATCH">
        <label for="userName">User Name:</label>
        <input 
          type="text" 
          name="userName" 
          id="userName" 
          value="<%= user.userName %>" 
          required
        >
        <br>

        <label for="email">Email:</label>
        <input 
          type="email" 
          name="email" 
          id="email" 
          value="<%= user.email %>" 
          required
        >
        <br><br>

        <button class="edit-btn" type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
