<!DOCTYPE html>
<html>
    <head>
        <title>My Feedback History</title>
        <style>
            table { border-collapse:collapse; width: 80%; margin: 20px auto; }
            th,td { border:1px solid #ccc; padding:8px; text-align: center; }
            th { background-color: #007bff; color: white ;}
            caption { font-size: 1.5em; margin-bottom: 10px;}
            button{ background-color: #007bff; margin-left: 50%; padding: 10px; border-radius: 10px; color:white; font-weight: bold; cursor: pointer;} 

        </style>
    </head>
    <body>
        <table>
            <caption>My Feedback History</caption>
            <tr>
                <th>User Name</th>
                <th>Message</th>
                <th>Sentiment</th>
                <th>Category Type</th>
                <th>Category Name</th>
                <th>Submitted At</th>
            </tr>
            <% for(result of results) { %>
                <tr>
                    <td> <%= result.userName %></td>
                    <td> <%= result.message %></td>
                    <td> <%= result.sentiment %></td>
                    <td> <%= result.typeofCategory %></td>
                    <td> <%= result.categoryName %></td>
                    <td> <%= result.timestamp.toString().split(" ").slice(0,5).join(" ") %></td>
                </tr>
                <% } %>
        </table> 
        <a href="/logout"><button>Go Back to Login</button></a>
    </body>
</html>