<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        <style>
            table,th,td,tr{
                border:1px solid black;
            }
        </style>
    </head>
    <body>
        <table>
            <caption>User Details</caption>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Email</th>
            </tr>
            <% for(user of users) { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.userName %></td>
                <td><%= user.email %></td>
            </tr>
            <% } %>
        </table>

        <br><br><br>

        
        <table>
            <caption>Feedback detiails</caption>
            <tr>
                <th>Feedback Id</th>
                <th>User Id</th>
                <th>Message</th>
                <th>Sentiment</th>
                <th>Time Stamp</th>
            </tr>
            <% for(result of results) { %>
                <tr>
                    <td><%= result.feedbackId %></td>
                    <td><%= result.userId %></td>
                    <td><%= result.message %></td>
                    <td><%= result.sentiment %></td>
                    <td><%= result.timestamp %></td>
                    <td>
                        <form method="post" action="/user/<%= result.feedbackId %>?_method=DELETE">
                            <button>Delete</button>
                        </form>
                    </td>
                </tr>

                <% } %>
        </table>
        <table>
            <caption>Service Type</caption>
            <tr>
                <th>TypeId</th>
                <th>feedbackId</th>
                <th>Type of Category</th>
                <th>Category Name</th>
            </tr>
            <% for(service of services) { %>
                <tr>
                    <td><%= service.typeId %></td>
                    <td><%= service.feedbackId %> </td>
                    <td><%= service.typeofCategory %></td>
                    <td><%= service.categoryName %></td>
                </tr>
                <% } %>
        </table>
    </body>
</html>